body {
    background-color: antiquewhite;
    color: black;
    font-family: "Helvetica", "Tahoma", sans-serif;
}

header, img {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 75%;
}

.container {
    position: relative;
    text-align: center;
}

div,
ul {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: center;
}

li {
    display: inline-block;
    /*margin: 0 10px;*/
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 50px;
}

li > img {
    display: inline;
    height: 200px;
    width: 200px;
    object-fit: contain;
    float: none;
}